.App {
  display: flex;
  width: 100%;
  background-image: image('Logo2');
  font-family: 'Roboto-Medium';
  background-color: #ccefff;
}

h1,
h2,
h3,
h4 {
  font-family: 'Amatic';
}
p {
  padding-left: 3rem;
  padding-right: 3rem;
}

div {
}

.App-header {
  z-index: 4;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.titulo {
  background-color: #256380;
  padding-left: 1rem;
}
.text {
  color: #0b1e26;
}

.Totales {
  display: flex;
  width: 100%;
}

.nombre {
  margin-left: 3rem;
}

.grandetext {
  display: flex;
}
.titulouber {
  margin-top: 5rem;
}

.mission-titulo {
  margin-top: 1rem;
}

.img-shot {
  width: 18rem;
}

.screenshot {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.Teamparalelo {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 1em;
  background-color: #ccefff;
}

.Teamcuadro {
  color: #0b1e26;
}
.principal {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.imgteam {
  display: flex;
  width: 12.5rem;
  height: 12.5rem;
  margin-left: 3rem;
  outline-color: transparent;
  outline-style: dotted;
}

.texttituloteam {
  color: white;
}

.contienecdu {
  display: flex;
  outline-color: transparent;
  outline-style: solid;
  background-color: #ccefff;
}

.unodos {
  display: flex;
  width: 95%;
  flex-wrap: wrap;
}

.espacio-ul {
  margin-left: 3rem;
}
.logo2 {
  width: 10rem;
  height: 8rem;
  background-image: image('Logo2');
  opacity: 0.8;
  position: fixed;
  right: 0px;
  bottom: 0px;
}

.logo1 {
  width: 10rem;
  height: 5rem;
}

.logo-container {
  max-width: 4rem;
  max-height: 4rem;
}
.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid black;
  background-color: #0b1e26;
  min-height: 20rem;
}
.icon-container {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.iconos-cajita {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  flex-direction: row;
}

.icon {
  padding: 0.5rem;
  cursor: pointer;
}
.icon :hover {
  color: #4ac5ff;
}
.img-Unien {
  width: 1.33em;
  height: 1.33em;
  background-color: white;
}
.img-container :hover {
  background-color: #4ac5ff;
}
.img-container {
  display: flex;
  padding: 0.5rem;
  cursor: pointer;
}

.mail-footer {
  display: flex;
  padding: 0.5rem;
  flex: 1;
  height: 100%;
  align-items: flex-end;
  align-content: flex-end;
}

.mail-abajo {
  color: white;
  font-size: 1rem;
}
.Navigation {
  width: 100%;
  background-color: #0b1e26;
  min-height: 5rem;
  position: fixed;
  left: 0;
  top: 0;
}

.divhorizontal {
  display: flex;
}

.ButtonNavigation {
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0.625rem;
}

.ButtonNavigation :hover {
  color: #4ac5ff;
}

.totalfooter {
  display: flex;
  width: 100%;
}

.divnegro {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.linea-azul {
  border: 1px solid #4ac5ff;
  background-color: #4ac5ff;
  height: 0.1px;
  width: 100%;
}

.footerboton {
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.entstand {
  display: flex;
  align-content: center;
  flex: 1;
}

.forma-principal {
  display: flex;
  border: 0.2rem solid #4ac5ff;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  font-family: Roboto;
  color: #256380;
  margin-top: 7rem;
  max-width: 50rem;
  padding-left: 2rem;
}

.nombre-forma {
  display: flex;
  width: 80%;
  flex-direction: column;
  font-size: 1.1rem;
  font-weight: 700;
  cursor: pointer;
  border-radius: 1rem;
}

.email-forma {
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  font-weight: 700;
  cursor: pointer;
  border-radius: 1rem;
}

.message-forma {
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  font-weight: 700;
  padding-left: 0%;
  margin-left: 0%;
}
.carta {
  display: flex;
}

.total-message {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding-left: 0%;
}

[type='submit'] {
  display: inline-block;
  cursor: pointer;
  background-color: #d9f3ff;
  border-radius: 1rem;
  box-shadow: 0 0.3rem #999;
  white-space: nowrap;
  color: #256380;
  font-family: roboto;
  font-weight: 600;
}

.button-forma:active {
  box-shadow: 0 0.3rem transparent;
}

.base-contact {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.segundo-contact {
  display: flex;
}

.footer-contact {
  display: flex;
  margin-top: 7rem;
}

.icon-input {
  position: absolute;
  right: 0;
  top: 25%;
}

.input-compartida {
  background-color: #e3e8eb;
  height: 2.5rem;
  width: 100%;
  border: 0.2rem solid #e3e8eb;
  border-radius: 0.4rem;
  box-shadow: none;
}

.input-email {
  position: relative;
  width: 80%;
}

.input-forma {
  position: relative;
}

.input-message {
  background-color: #e3e8eb;
  width: 80%;
  border: 0.2rem solid #e3e8eb;
  border-radius: 0.4rem;
  box-shadow: none;
}

[type='text']:focus,
[type='email']:focus,
[type='url']:focus,
select:focus,
textarea:focus {
  outline: none;
  border: 1px solid #4ac5ff;
}
label {
  font-weight: 600;
  font-size: 0.9rem;
  display: block;
  margin: 0.5rem 0;
}
.container {
  max-width: 35rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.button {
  border-radius: 0.4rem;
  background-color: #4ac5ff;
  border: none;
  color: white;
  text-align: center;
  font-size: 1rem;
  height: 2.5rem;
  width: 12.5rem;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.button:hover span {
  padding-right: 1.56rem;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -1.25rem;
  transition: 0.5s;
}
